<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find wall_e_description)/world/simple_map/simple_map.yaml"/>
  <arg name="rvizconfig" default="$(find wall_e_description)/launch/simple_map.rviz"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> 

  <!-- AMCL -->
  <include file="$(find wall_e_description)/launch/wall_e_amcl.launch"/>

  <!-- move_base -->
  <include file="$(find wall_e_description)/launch/wall_e_move_base.launch"/>

  <!-- mapping node    <include file="$(find wall_e_description)/launch/gmapping.launch"/>  -->



  <!-- rviz <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/> -->
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
  

</launch>
